<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxz3RaWuR_SfWnN47b9ax_ogyOmYDPcW8</string>
	<key>GCM_SENDER_ID</key>
	<string>703096841584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ysh.expenseDiary</string>
	<key>CLIENT_ID</key>
	<string>703096841584-u56b1ikdpgm9qqdovh67v7apgp1g8paj.apps.googleusercontent.com</string>
	<key>PROJECT_ID</key>
	<string>expense-diary-4892a</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703096841584-u56b1ikdpgm9qqdovh67v7apgp1g8paj</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-diary-4892a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703096841584:ios:de90af8e50b7a22b2c1bb5</string>
</dict>
</plist>
